Package: apparmor-profiles
Version: 1.0.1-main
Maintainer: PrimakovNA <primakovna@loodsen.ru>
Architecture: all
Depends: apparmor, apparmor-utils, apparmor-profiles-extra
Section: misc
Description: AppArmor profile
